*{
    margin: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
   
    overflow-x: hidden;
}
header,footer{
    background-color: rgb(15, 44, 62);
    width: 100%;
    color: white;
    padding: 15px;
    position: absolute;
   
}

hr{
    margin: 10px;
    width: 100%;
    margin-left: 0%;
}
header{
    top: 0;
    height: 40px;

}
#logo >img{

    margin-left: 0%;
    width: 130px;
}
#subscribe{
    background-color: rgb(15, 44, 62);
    height: 25px;
    width: 30%;
    color: white;
}
button{
    border: none;
}
#heading{
    color: rgb(25, 80, 114);
    font-size: large;
}

#headingelements1 >input{
    margin-top: 8px;
    height:20px ;
    width: 40%;
    margin-bottom: 8px;
}
#headingelements1{
    text-align: right;
}
#headingelements1>span{
    margin-right: 48%;
}
#headingelements >select{
    margin-top: 8px;
    margin-bottom: 8px;
    height:25px ;
    width: 130px;
    
}
hr{
    margin-bottom: 20px;
    margin-top: 20px;
}

.main_content{
    margin-top: 90px;
    margin-left: 10%;
    margin-right: 10%;
    
}
ul{
    list-style-type: none;
    padding: 0px;
}
.flex-container1 {
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
  }
 .flex-container1>div{
     margin: 0px;
    text-align: left;
 }
#logo{
    margin-left: 39%;
}
.title{
    color: rgb(25, 80, 114);
    margin-bottom: 5px;
    font-size: large;
   
}
.def{
    font-size:medium;
}
.d_c{
    font-weight: 180; 
    font-size: x-small;
margin-bottom: 5px;
}
footer{
    height: 20px;
    text-align: center;
}
.newsfeed{
    display: flex;
    flex-direction: row;
}
.Dark_Line{
    height: 1.5px;
    background-color:  black;
}
.newsfeed >div{
    margin-right: 10px;
}
.newsfeed>div>img{
  width: 200px;
  height: 100%;
}
h4,h5{
    margin: 0;
}

#continueReading1,#continueReading2,#continueReading3,#continueReading4{
    background-color: rgb(255, 85, 0);
    color: white;
    margin-top: 10px;
    height: 30px;
}
@media screen and (max-width:576px){
    body{
      font-size: large;
  }
  #logo{
      margin-left: 0%;
  }
  .newsfeed{
    flex-direction: column;
    }
  .newsfeed>div>img{
      width: 100%;
      height: 100%;
    }
    #heading {
        margin-left: 0%;
    }
    .flex-container1>div{
        text-align: left;
    }
    .flex-container1 {
      display: flex;
      flex-direction: column;
      float: left;
      width: 100%;
  }
  #headingelements1 >input{
      margin-top: 8px;
      height:20px ;
      width: 120px;
  }
  #subscribe{
      width: 70px;
      
  }
  #headingelements1{
      text-align: left;
  }
  #headingelements1>span{
      margin-right: 0px;
  }
 
  .flex-container1 :nth-child(1) { order: 2; }
  .flex-container1 :nth-child(2) { order: 3; }
  .flex-container1 :nth-child(3) { order: 1; }
}
@media screen and (min-width:577px) and (max-width:768px){
    .newsfeed{
        flex-direction: column;
    }
    .newsfeed>div>img{
        width: 100%;
        height: 180px;
      }
      .flex-container1>div{
          text-align: left;
      }
      .flex-container1 {
        display: flex;
        flex-direction: column;
        float: left;
        width: 100%;
    }
    #headingelements1 >input{
        margin-top: 8px;
        height:20px ;
        width: 120px;
    }
    #subscribe{
        width: 70px;
        
    }
    #headingelements1{
        text-align: left;
    }
    #headingelements1>span{
        margin-right: 0px;
    }
    #heading {
        margin-left: 40%;
    }
    .flex-container1 :nth-child(1) { order: 2; }
    .flex-container1 :nth-child(2) { order: 3; }
    .flex-container1 :nth-child(3) { order: 1; }
}
